<h1>Binevenue sur la page du potin <%= params[:gossip_id] %></h1>



<h3>Gossip en détail</h3>
	<p><%= @gossip.content %></p>
		<p>Ce gossip est l'oeuvre de <%= @gossip.user.first_name %></p>


<br><br>
	
	
