<br><br><h1>Bienvenue sur la page de la ville <%= @city.name %></h1>
<br><br>
<h2>Tous les gossips de notre ville sont sur cette page</h2>
<br><br>

<% @city.name do |gossip| %>

<%=  gossip.user.first_name%><br>
<%= gossip.title %><br> <br><br>

<% end %>

